@import "~fast-grid/fast-grid";

$grid : (
        breakpoints: (
                xs: 0px,
                sm: 576px,
                md: 768px,
                lg: 992px,
                xl: 1200px,
        ),
        columns: 12,
        gap: 15px,
        container: 15px,
        box-sizing: border-box,
        mode: flex
);

.row{
  @include grid-row();
}

@for $i from 1 through map-get($grid, columns){
  .col-#{$i}{
    @include grid-col($i);
  }
  @each $name, $value in map-get($grid, breakpoints){
    .col-#{$name}-#{$i}{
      @include grid-col((
              $name: $i
      ));
    }
  }
}

//Fix bag horizontal scroll
body{
  max-width  : 100vw;
  overflow-x : hidden;
}
