@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

$f-scale  : 1.333;

$ff-base  : 'IBM Plex Sans', sans-serif;
$fz-base  : 1rem;
$fw-base  : normal;
$fw-title : bold;

$fc-base  : #000;

$lh-base  : 1.75;
$lh-title : 1.3;


:root{
  font-size : $fz-base;
}

html{
  font-size : 100%;
}


body{
  font-family : $ff-base;
  font-weight : $fw-base;
  line-height : $lh-base;
  color       : $fc-base;
}

p{
  margin-bottom : 1rem;
}

h1, h2, h3, h4, h5{
  margin      : 3rem 0 1.38rem;
  font-family : $ff-base;
  font-weight : $fw-title;
  line-height : $lh-title;
}

@include getFontSizeTitle($f-scale, $fz-base);


small, .text_small{
  font-size : 0.75rem;
}

a{
  display     : inline-flex;
  align-items : center;
  color       : inherit;

  &:hover{
    color : map-get($colors, accent);
  }
}
