.idea

# Application
web/backend/plugins/*
!web/backend/plugins/.gitkeep
web/backend/mu-plugins/*/
web/backend/upgrade
web/backend/uploads/*
!web/backend/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml
