@import "~fast-grid/fast-grid";

*{
  box-sizing: border-box;
}

$enable-grid-classes            : true !default;

// Grid breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
) !default;

@include assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Container max widths
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1392px
) !default;

@include assert-ascending($container-max-widths, "$container-max-widths");

$grid : (
        breakpoints: $grid-breakpoints,
        columns: 12,
        gap: (
                xs: 8px,
                md: 16px
        ),
        container: (
                xs: 8px,
                md: 16px
        ),
        box-sizing: border-box,
        mode: flex
);

.row{
  @include grid-row();
}

@for $i from 1 through map-get($grid, columns){
  .col-#{$i}{
    @include grid-col($i);
  }
  @each $name, $value in map-get($grid, breakpoints){
    .col-#{$name}-#{$i}{
      @include grid-col((
              $name: $i
      ));
    }
  }
}

// Container
@if $enable-grid-classes {
  .container {
    @include grid-container();
    @include make-container-max-widths();
  }
}

// Fluid container
@if $enable-grid-classes {
  .container-fluid {
    @include grid-container();
  }
}
